<div class="navbar-cillas_wardrobe">
  <!-- Logo -->
  <%= link_to root_path do %>
    <div class="navbar-cillas_wardrobe-brand">
      <%= image_tag "logo/logo_200x200.png", height: 50 %>
      <div class="navbar-site-title">CW</div>
    </div>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="dropdown">
      <span class="navbar-cillas_wardrobe-link dropdown-toggle" data-toggle="dropdown">Products</span>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "<i class=\"fas fa-tshirt\"><\/i> Clothing".html_safe, clothing_path %></li>
        <li><%= link_to "<i class=\"fas fa-shoe-prints\"><\/i> Shoes".html_safe, shoes_path %></li>
        <li><%= link_to "<i class=\"fas fa-coffee\"><\/i> Home".html_safe, home_path %></li>
      </ul>
    </div>

    <!-- Login link (when logged out) -->

    <% if user_signed_in? %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown"><!-- Hi --> <%#= current_user.first_name.capitalize %><%= image_tag "https://ui-avatars.com/api/?name=#{current_user.first_name}+#{current_user.last_name}&background=f2efef&color=977d9b&size=46&rounded=true&length=2", class: "navbar-avatar-initials" %></span>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-cillas_wardrobe-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

